<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bing</title>
    <link rel="stylesheet" href="../../ext-3.3.0/resources/css/ext-all.css">
  </head>
  <body>
    <script src="../../ext-3.3.0/adapter/ext/ext-base-debug.js"></script>
    <script src="../../ext-3.3.0/ext-all-debug.js"></script>
    <script>
      Ext.onReady(function () {
        const viewport = new Ext.Viewport({
          layout: 'anchor',
          // anchorSize: {width: 800, height: 600},
          items: [{
            title: 'Item 1',
            html: 'Content 1',
            width: 800,
            anchor: '90% 20%'
          }, {
            title: 'Item 2',
            html: 'Content 2',
            width: 300,
            anchor: '50% 30%'
          }, {
            title: 'Item 3',
            html: 'Content 3',
            width: 600,
            anchor: '-150 50%'
          }]
        });
      })
    </script>
  </body>
</html>